.myCourseMargin{
  margin: 0rem 12rem;
  /* padding: 1.2rem; */
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.myCourseText{
    font-family: 'Biko';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 30px;
color: #2BB5F4;
padding: 1.2rem 0rem 0rem 1.2rem;
}

.tabClassOne {
    font-family: 'ProximaNovaSoftW03-Medium';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    /* line-height: 50px; */
    color: #7A7A7A;
    padding: 6px 13px;
}

.tabClassTwo{
    font-family: 'ProximaNovaSoftW03-Medium';
font-style: normal;
font-weight: 400;
font-size: 20px;
background: #042C5C;
border-radius: 6px;
color: #FFFFFF;
padding: 6px 13px;
}
.tabs{
    display: flex;
    gap: 0.5rem;   
    padding-left: 1rem;
}