@import url(//db.onlinewebfonts.com/c/f285a6f8d753d257ba672d409ebc273e?family=ProximaNovaSoftW03-Medium);
*{
box-sizing: border-box;
margin: 0px;
padding: 0px;
/* font-family: 'Proxima Nova Soft'; */
/* font-family: "ProximaNovaSoftW03-Medium";  */
}
